<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <meta charset="utf-8">
    <title>Bootstrap уроки</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top py-5">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">My website</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">.</div>
        <div class="col-6 col-md-4">.</div>
    </div>
    <div class="row">
        <div class="col-md-8">.</div>
        <div class="col-6 col-md-4">.</div>
    </div>
    <div class="row">
        <div class="col-md-8">.</div>
        <div class="col-6 col-md-4">.</div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <table>
                <tr>
                    <td><a href="/admin" class="btn btn-primary btn-lg">Admin</a></td>
                </tr>
                <tr>
                    <td><a href="/admin/user" class="btn btn-primary btn-lg mb-3">User</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-10 bs-secondary-bg">

            <h1>Admin panel</h1>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <td><a href="/admin" class="btn">Users table</a></td>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>Add new user</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <form th:action="@{/admin}" method="post" th:object="${user}">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required minlength="2"
                                       maxlength="100">
                                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname:</label>
                                <input type="text" class="form-control" id="surname" name="surname" required
                                       minlength="2"
                                       maxlength="100">
                                <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">
                                    Surname
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age">Age:</label>
                                <input type="text" class="form-control" id="age" name="age" min="0" max="150" required>
                                <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="text" class="form-control" id="password" name="password" required
                                       minlength="2" maxlength="100">
                                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                    Password
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selectedRole">Role</label>
                                <select class="form-control" multiple id="selectedRole" name="selectedRole">
                                    <option th:each="role : ${roles}" th:value="${role}"
                                            th:text="${role}">role
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Add new user</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myForm').validate();
    });
</script>
</body>
</html>