<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Full name: ' +user.getName() + ' ' + user.getSurname()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<br/>
<hr/>
<form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:action="@{/logout}" method="Post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>